
.home_body {
    background-image: linear-gradient(90deg, #000427, #000949);
}


.home-section{
    margin-top: 290px;
}
.color-text {

    background: -webkit-linear-gradient(45deg, #CAF231, #DEF67F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.vector-img {
    
    margin-bottom: 72px;
    height: 70px;
    width: 110px;
}
.home_body:hover .vector-img{
    animation-name: run;
  animation-duration: 1s;
}
@keyframes run {
    0% {
          transform: translateX(0);
      }
  
      100% {
          transform: translateX(500px);
      }
  }

.home-title {
    font-size: 65px;
    font-weight: 700;
    font-family: 'Poppins';
    line-height: 98px;
    color: #28ACE2;
   
}

.home-details {
    /* height: 190px; */
    margin-bottom: 40px;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 38px;
    color: #28ACE2;
}

.button-section {
    /* margin-left: 210px; */
    margin-bottom: 290px;
}

.btn1 {
    background: linear-gradient(265.22deg, #DEF77D 0%, #D0F344 100%);
    box-shadow: inset -18px -60px 16px #B6CC63, inset 30px 30px 16px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 16px 52px;
    font-size: 15px;
    color: #00052F;
    font-weight: 700;
    font-family: 'Poppins';
    margin-right: 40px;
}
.btn2 {
    border: 1px solid #8FE5FF;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 4px;
    padding: 15px 51px;
    font-size: 15px;
    color: #8FE5FF;
    font-weight: 700;
    font-family: 'Poppins';
}
@media only screen and (max-width: 688px) {
    .home-section{
        margin-top: 70px;
    }
    .vector-img {
    
        margin-bottom: 32px;
        height: 40px;
        width: 60px;
    }
    .home-title {
        font-size: 45px;
        font-weight: 700;
        font-family: 'Poppins';
        line-height: 98px;
        color: #28ACE2;
       
    }
    .button-section {
        /* margin-left: 210px; */
        margin-bottom: 30px;
        
    }
    .btn1 {
        background: linear-gradient(265.22deg, #DEF77D 0%, #D0F344 100%);
        box-shadow: inset -18px -60px 16px #B6CC63, inset 30px 30px 16px rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        padding: 11px 33px;
        font-size: 15px;
        color: #00052F;
        font-weight: 700;
        font-family: 'Poppins';
        margin-right: 10px;
    }
    .btn2 {
        border: 1px solid #8FE5FF;
        background-color: Transparent;
        background-repeat:no-repeat;
        border-radius: 4px;
        padding: 11px 31px;
        font-size: 15px;
        color: #8FE5FF;
        font-weight: 700;
        font-family: 'Poppins';
    }
   
}
@media only screen and (min-width: 689px) and (max-width: 1024px) {

    .home-section{
        margin-top: 70px;
    }
    .vector-img {
    
        margin-bottom: 32px;
        height: 40px;
        width: 60px;
    }
    .home-title {
        font-size: 45px;
        font-weight: 700;
        font-family: 'Poppins';
        line-height: 98px;
        color: #28ACE2;
       
    }
    .button-section {
        margin-bottom: 30px;
        
    }
   
}