.logo-img{
    height: 42px;
    width: 205px;
    margin-top: 88px;
    margin-left: 210px;
    
}
.link-section{
    margin-right: 237px;
    margin-top: 92px;
}
.link-section a{
    font-size: 21px;
   text-decoration: none;
   margin-left: 60px;
   color: #8FE5FF;
   font-family: 'Poppins';
   font-weight: 500;
}
.link-section a:hover{
    background: -webkit-linear-gradient(45deg,#CAF231, #DEF67F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}