.sidebar{
    min-height: 100vh;
    background-color: #000633;
    /* width: 515px; */
    margin: 0px;
    /* position: relative; */
}
.sidebar h4{
    color:#0096C7;
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat';
    padding-top: 95px;
    margin-bottom: 50px;
}
.sidebar p{
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.back-button{
   
    /* position: absolute; */
    /* bottom: 60px;
    left: 230px;
    right: 241px; */
    height: 550px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.login-body{
    background-color: #C0CDD3;
}
.login-section{
    min-height: 100vh;
}
.login-box{
    /* margin: 450px; */
    background-color: white;
    width: 478px;
    height: 408px;
    text-align: center;
  
}
.login-box h4{
    font-size: 32px;
    color: #212121;
    line-height: 39px;
    font-family: 'Montserrat';
    padding-top: 46px;
    margin-bottom: 29px;

}
.login-box p{
    color: #928B8B;
    font-size: 12px;
    
    margin-bottom: 19px;
}
.login-box input{
    margin-left: 23px;
    margin-right: 23px;
    width: 432px;
    padding: 21px 25px;
    margin-bottom: 23px;
    font-size: 12px;
    font-family: 'Montserrat';
}
.login-btn{
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 35px;
    width: 432px;
    padding-top: 21px !important;
    padding-bottom: 21px !important;
    
    font-size: 12px;
    font-family: 'Montserrat';
    color: white;
    background-color: #0096C7 !important;
    margin-bottom: 46px !important;
    
}
.fa-eye{
    display: block;
    margin-left: 370px;
    margin-top: -60px;
}
@media only screen and (max-width: 688px) {
    .login-box{
        /* margin: 450px; */
        background-color: white;
        width: 100%;
        height: 408px;
        text-align: center;
      
    }
    .login-box input{
      
        width: 90%;
        padding: 21px 25px;
        margin-bottom: 23px;
        font-size: 12px;
        font-family: 'Montserrat';
        margin-left: 0px;
        margin: auto;
    }
    .login-btn{
        
        width: 90%;
        padding-top: 21px !important;
        padding-bottom: 21px !important;
        margin-left: 0px;
        margin: auto;
        font-size: 12px;
        font-family: 'Montserrat';
        color: white;
        background-color: #0096C7 !important;
        margin-bottom: 46px !important;
        
    }
    .login-btn{
        margin-top: 50px;
    }
    .fa-eye{
        display: block;
        margin-left: 270px;
        margin-top: -38px;
    }
}

@media only screen and (min-width: 689px) and (max-width: 1024px) {
    .login-section{
        margin: auto;
    }
}